<html>
	<head>
		<link rel="stylesheet" href="./static/style/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Тестовый сайт - Список всех продуктов</title>
	</head>
	<body>
		<header></header>
		<div id="main">
			
			{% include "sidebar.html" %}
	
			<div id="content_column">
				<div id="content">
				{% load filters %}
				{% for product in products %}

					<article class="product">
						<div class="img-wrapper">
							<img src="media/{{product.image}}" alt="{{product.name}}">
						</div>
						<header>
							{{product.name}}
						</header>

						<div class="description">
							{{product.description}}
						</div>

						<div class = "numbers">
							<span>Цена: {{product.price | price}}</span>
							<span>Количество: {{product.amount}}</span>
							<span>СКУ: {{product.SKU}}</span>
						</div>
						<div class = "links">
							<span><a href = "{%url 'products_by_category' product.category.slug%}">{{product.category.name}}</a></span>
							<span><a href = "{%url 'trademark' product.trademark.slug%}">{{product.trademark.name}}</a></span>
						</div>

					</article>

				{% endfor %}
				</div>
			</div>
		</div>	
		<footer></footer>

		<script src="./static/js/live.js"></script>
	</body>
</html>