<html>
	<head>
		<link rel="stylesheet" href="/static/style/style.css">

		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


		<title>Тестовый сайт - Продукты</title>
	</head>
	<body>
		<div class="main">
			<header>Заголовок, наполненный смыслом</header>
			<div class="main__columns">
				
				<div class="main__left_column column">
					{% include "parts/navigation.html" %}
				</div>
		
				<div class="main__right_column column">
					{% include "parts/products-box.html" %}
				</div> 
			</div>
			<footer></footer>
		</div>

		<script src="/static/js/live.js"></script>
		<script src="/static/js/script.js"></script>
	</body>
</html>