<div class="products-box column__box">
	<header class="products-box__header">
		<div class="products-box__title">
		Продукты
		</div>

		<div class="products-box__product_controls">
			<div class="products-box__controls_group">
				<i class="products-box__control sort_by_name checked"></i>
				<i class="products-box__control sort_by_name_reversed"></i> 
			</div>

			<div class="products-box__controls_group">
				<i class="products-box__control view_products_as_tiles checked"></i>
				<i class="products-box__control view_products_as_rows"></i>
			</div>	
		</div>
	</header>

	<div class="products-box__list">
			
	{% load filters %}
	{% for product in products %}

		<article class="products-box__product product">
			<div class="product__img centered-image">
				<img src="/media/{{product.image}}" alt="{{product.name}}">
			</div>
			<header>
				{{product.name}}
			</header>

			<div class="description">
				{{product.description}}
			</div>
		
			<div class = "numbers">
				<table>
			    	<thead>
						<tr>
							<th>Цена</th>
							<th>Наличие</th>
							<th>СКУ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{product.price | price}}</td>
							<td>{{product.amount}}</td>
							<td>{{product.SKU}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr class="delimiter"/>


			<div class = "links">
				<a href = "{%url 'products_by_category' product.category.slug%}">{{product.category.name}}</a>
				<a href = "{%url 'trademark' product.trademark.slug%}">{{product.trademark.name}}</a>
			</div>

		</article>

	{% endfor %}
	</div>
</div>