// Раскладка крупных блоков: хедера, футера и колонок 

.main {
	box-sizing: border-box;
	width: 100%;

	>header, >footer {
		border: $border;
		height: 3rem;
	}

	.main__columns {
		display: flex;
		justify-content: space-between; 

		width: 80vw;
		min-height: 80%;
		
		margin: 3rem auto;
	}

	.main__left_column {
		order: 1;
		flex: 1;
		//min-width: 15rem;
	}

	.main__right_column {
		order: 2;
		flex: 3;
		margin-left: 2rem;
	}

	@media #{$medium_device} {
		.main_columns {
			flex-direction: column;
			width: 100vw;
		}
	}
}

// Раскладка боксов внутри колонок

.column {
	.column__box {
		// Для всех элементов кроме первого
		&:nth-child(1n+2) {
			// Отступы между меню
			margin-top: 1.5em;
		}
	}
}