
// Колонка товаров

.products-box {
	@include box;
	
	>header {
		margin-bottom: 50px;
	
		display: flex;
		justify-content: space-between;
	}

	&__title {
		border-bottom: none;
	}
	
	&__product_controls {
		display:flex;
		justify-content: space-between;
		
		width: 195px;
		
		box-sizing: border-box;
		padding: 8px 5px;
				
		border-left: $border;
		
		display: flex;
		justify-content: space-between;
	}
	
	&__controls_group {
		display: block;
		margin: auto 5%;
	}
	
	&__control {

		color: grey;
		font-size: 25px;
		
		// %NOTE: Лучше-бы, конечно, автоматически расстояния считать
		padding: 0 2px
	}

	&__control.checked {
		color: black;
	}

	&.view_as_row {

		.products-box__list {			
			// %HACK: Не уверен, что это хорошая идея, но flex-box вынуждает
			// %TODO: Создать &__product, и убрать хак
			padding: 0;
		}
	}
}


@mixin product-list {
	/* Список товаров, как в интернет магазине. */

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;

	padding: 0 30px;
}


.products-box__list {
	@include product-list;
}

// Дизайн отдельного продукта

@mixin simple-table {
	border-collapse: collapse;

	th {
		border-bottom: 3px grey solid;
	}

	th, td {

		line-height: 1.5;

		// %HACK: Эффект пустого пространства между колонками 
		$white_space: 15px;
		padding: 0 $white_space/2;	
		border-left: $white_space #FFF solid;			
		border-right: $white_space #FFF solid;			
	}
}

.product {
	
	border: $bigger_border;

	width: 300px;
	height: auto;
	
	margin: 1%;

	margin-bottom: 20px; // Нижний отступ между рядами

	display: flex;
	flex-flow: column wrap;

	// Базовая величина вертикального отступа между блоками
	$base_vertical_margin: 30px;
	// Базовый отступ от стенок контейнера
	$base_container_margin: 20px; 

	&__img {
		min-height: 200px;
		//width: 150px;
	}

	// %BAD
	header {
		margin: 0 $base_container_margin;
		margin-bottom: $base_vertical_margin/6;

		font-weight: bold;
		font-size: $increased_font_size*1.1;
	}

	.description {
		margin: 0 $base_container_margin;
		margin-bottom: $base_vertical_margin;

		max-height:  100px;
		overflow: hidden;
		text-overflow: ellipsis;
		// ellipsis - Не работает, на многострочных текстах, что поделаешь :) 
	}

	table {
		margin: auto;
		margin-bottom: $base_vertical_margin;
	
		@include simple-table;
	}


	.delimiter {
		margin: auto;
		margin-bottom: $base_vertical_margin/2;

		width: 33%;
		
		border: 1px LightGrey solid;
	}

	/* Форматирование ссылок на категорию и торговую марку. 
	   Такие ссылки должны больнее менее на табличку похоже. */
		   
	.links {
		width: 60%;
		margin: auto;
		margin-bottom: $base_vertical_margin;

		
		// Пытаемся как-то красиво отцентрировать ссылки
		display: flex;
		justify-content: space-between;
		//margin: 0 $base_container_margin*2;

		a {
			text-align: center;
			font-size: $increased_font_size;
		}

		a:visited {
			// Отключаем фиолетовый цвет - зачем он навигационным ссылкам?
			color: blue;
		}
	}

}

.product.view_as_row {
	// TODO: BEM

	width: 100%;
	
	border: none;
	border-bottom: $border;
	
	margin: 0; // Обнуляем разрыв со следующим блоком
	
	.numbers, .links, .delimiter {
		display: none;
	}
}

.product:hover {
	// Полная информация - по наведелию мышки
	.description {
		max-height: none;
	}
}

// Выравниваем изображения
.centered-image {
	display: flex;
	
	img {
		margin: auto;
	}
}