@import "normalize";
@import "font-awesome";

// Адаптивная верстка: медиа запросы

$small_device: "max-width: 599px";
$medium_device: "(min-width: 600px) and (max-width: 960px)";
$normal_device: "min-width: 940px";

// Типография

$default_font_size: 0.9rem;
$increased_font_size: 1rem;
$small_header_font_size: $default_font_size*1.5;
$title_font_size: $increased_font_size*1.5;

// Цвета

$base_color: lightgrey;
$additional_color: darkgrey; 

/* Стандартный бордюр */

$border: 1px lightgrey solid;
$bigger_border: 4px darkgrey solid;

/* Раскладка крупных блоков: хедера, футера и колонок 
   А так-же хедеров внутри колонок. */
   
@import "layout";

// Сайдбар

@import "navigation";

// Все связанное с отображением продуктов

@import "products";

// Торговая марка

@import "trademark";

// Стилизация иконок

@mixin icon {
	@extend .fa;
}

i.sort_by_name {
	@include icon;
	@extend .fa-sort-amount-asc;
}

i.sort_by_name_reversed {
	@include icon;
	@extend .fa-sort-amount-desc;
}

i.view_products_as_tiles {
	@include icon;
	@extend .fa-th;
	
	padding-bottom: 1px !important;
}

i.view_products_as_rows {
	@include icon;
	@extend .fa-align-justify;

	padding-bottom: 1px !important;
}