@import "normalize";
@import "font-awesome";

// Адаптивная верстка: медиа запросы

$width_breakpoint_ml: 960px;

$small: "max-width: 599px";
$medium: "(min-width: 600px) and (max-width: 960px)";
$large: "(min-width: 960px)";
$not_large: "(max-width: 960px)";

@mixin device($device) {
	@media #{$device} {
		@content
	}
}


/* Константы дизайна */

// Типография

$default_font_size: 1vw;
$increased_font_size: $default_font_size*1.1;
$small_header_font_size: $default_font_size*1.5;
$title_font_size: $default_font_size*2.0;

// Цвета

$base_color: lightgrey;
$additional_color: darkgrey;

$title_color: #565d64; 
$menu_item_color: #777;
$menu_item_hover_color: #eee;

// Бордюры

$border: 1px $base_color solid;
$bigger_border: 3px $additional_color solid;

/* Раскладка крупных блоков: хедера, футера и колонок 
   А так-же хедеров внутри колонок. */
   
@import "layout";

// Сайдбар

@import "navigation";

// Все связанное с отображением продуктов

@import "products";

// Торговая марка

@import "trademark";

// Стилизация иконок

@import "icons";